<?xml version="1.0" encoding="utf-8"?>
<!--
  This file is part of OLSR Mesh Tether
  Copyright (C) 2010 by Szymon Jakubczak

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.HLMPConnect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET" />
	<user-permission android:name="android.permission.NETWORK" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name=".HLMPApplication"
        android:label="@string/app_name" >
        <activity
            android:name=".Tabs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.HLMPConnect.ConnectionsActivity"
            android:label="@string/app_name" >
            

        </activity>
        <activity
            android:name="android.HLMPConnect.UsersActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="android.HLMPConnect.ChatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="android.adhoc.SettingsActivity"
            android:launchMode="singleTop" >
        </activity>

        <service
            android:name="android.adhoc.AdHocService"
            android:icon="@drawable/barnacle_head"
            android:label="AdHoc Wireless" />
    </application>

</manifest>